<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="FarmTogether2-ModKit" value=".modkit/packages" /> <!-- gitleaks:allow -->
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="FarmTogether2-ModKit"> <!-- gitleaks:allow -->
      <package pattern="FarmTogether2.GameApi.Ref" />
    </packageSource>
    <packageSource key="BepInEx">
      <package pattern="BepInEx.*" />
      <package pattern="Il2CppInterop.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="AssetRipper.*" />
      <package pattern="AsmResolver*" />
      <package pattern="Disarm" />
      <package pattern="HarmonyX" />
      <package pattern="Iced" />
      <package pattern="IndexRange" />
      <package pattern="Microsoft.*" />
      <package pattern="Mono.Cecil" />
      <package pattern="MonoMod.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
      <package pattern="runtime.*" />
      <package pattern="Samboy063.*" />
      <package pattern="SemanticVersioning" />
      <package pattern="StableNameDotNet" />
      <package pattern="System.*" />
      <package pattern="xunit*" />
    </packageSource>
  </packageSourceMapping>
</configuration>